body {
    background-color: white;
  }
  
  h1{
      color: #ff4400;
      font-size: 35px;
  }
  
    h1{
      color: red !important;
      font-size: 35px;
    }
  
    img{
      height: 425px !important;
      border-style: dashed !important;
      border-width: 5px !important;
      border-color: yellow !important;
      border-radius: 30px !important;
      padding: 10px !important;
    }
    
    p{
      color: black;
      font-size: 20px;
      font-family: 'Akaya Telivigala', cursive !important;
    }
  
    button {
      background-color: greenyellow;
      border-radius: 5px;
      padding: 5px;
    }
  
    body {
      height: fit-content !important;
    }
  
  body {
      margin-bottom: 15px;
  }
  
  /* Style The Dropdown Button */
  .dropbtn {
    background-color: #00ffd5;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    position: sticky;
    margin-left: 50px;
    float: right;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    height: auto;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  marquee {
    width: 70%;
  }
  
  h1, h3 {
    font-family: 'Petit Formal Script', cursive;
    color: red;
    font-weight: bolder;
  }
  hr {
    height: 8px !important;
    background-color: whitesmoke !important;
    border-top: 8px dashed red !important;
  }
  
  .navbar-inverse {
    background-color: lavender;
  }
  
  a, button {
    text-shadow: .5px .5px black;
  }
  
  .chapter {
    margin: 10px;
  }

  /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -160px; /* Position them outside of the screen */
  transition: .7s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  width: 220px;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #04AA6D;
}

#topic {
  top: 90px;
  background-color: #2196F3;
}

a {
  font-family: 'Petit Formal Script', cursive !important;
  color: deepskyblue !important;
  font-weight: bolder !important;
}

a:hover {
  color: deeppink !important;
}

.footer {
  position: fixed;
  bottom: 0;
  color: white;
  background-color: grey;
  line-height: 3;
  text-align: center;
  width: 100%;
  z-index: 9999999;
}

.credit {
  bottom: 50 !important;
  float: right;
  position: unset;
}

label {
  color: orange;
}